<!doctype html>
<html lang="en" ng-app="smsSplitApp">
<head>
  <meta charset="utf-8">
  <title>SMS Split Demo</title>
  <link rel="stylesheet" href="css/app.css"/>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" />
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js"></script>
  <script>
  </script>
</head>
<body>

  <div ng-controller="SmsSplitCtrl">

    <div>
      <h1>How Messages Get Split</h1>
    </div>

    <p>GitHub: <a href="https://github.com/chadselph/smssplit">chadselph/smssplit</a></p>
    
    <p>SMS Text:</p>
    <div class="input btn-group">
      <textarea ng-trim="false" ng-model="input" placeholder="...message in here..."></textarea>
      <label class="radio" ng-repeat="encoding in allEncodings">
        <input type="radio" value="{{ encoding }}" name="encoding" ng-model="$parent.encoding">
        {{ encoding }}
      </label>
    </div>

    <div class="char-data">
    {{ charData.codepoint }}: {{ charData.name }}
    </div>

    <div style="clear: both;" />

    <div class="message-data">
      <p>Message length: {{ input.length }}</p>
      <p>Sms Segments: {{ smsSegments.length }}</p>
    </div>


    <div ng-repeat="segment in smsSegments track by $index"
      class="container-fluid segment" ng-init="seg = $index">
      <div class="row">
        <div class="col-md-5">
          <span ng-repeat="char in segment.text track by $index"
            class="char p-{{seg}}-{{$index}} {{isEncoded[seg][$index]}}"
            ng-mouseenter="highlightBytes(seg, $index)" ng-mouseleave="unhighlightBytes(seg, $index)"
            >{{ char }}</span>
        </div>
        <div class="col-md-7">
          <span ng-repeat="bytes in segment.bytes track by $index"
          ng-mouseenter="highlightBytes(seg, $index)" ng-mouseleave="unhighlightBytes(seg, $index)"
          class="bytes p-{{seg}}-{{$index}}"><span
            ng-repeat="byte in bytes track by $index" class="byte">{{ byte|hex_byte }}</span></span>
        </div>
      </div>
    </div>

  </div>


  <script src="js/gsm.js"></script>
  <script src="js/smssplit.js"></script>
</body>
</html>
